{% extends 'layout.njk' %}

{% block content %}
    <div class="informacao-receitas">
        <div class="receita-banner">
            <img src="{{item.image}}" alt="{{item.title}}">
        </div>
        <div class="info-receita">
            <h1>{{item.title}}</h1>
            <p>por
                {{item.author}}</p>
        </div>
        <section class="ingredientes">
            <div>
                <h3>Ingredientes</h3>
                <a class="lista-ingredientes">Esconder</a>
            </div>
           
            <div id="lista-ingredientes">
            <ul>
                {% for ingrediente in item.ingredients %}
                    <li>{{ingrediente}}</li>
                {% endfor %}
            </ul>
            </div>
            
        </section>
        <section class="preparo">
            <div>
                <h3>Modo de preparo</h3>
                <a  class="lista-preparo">Mostrar</a>
            </div>
            <div id="lista-preparo">
            <ul>
                {% for preparo in item.preparation %}
                    <li>{{preparo}}</li>
                {% endfor %}
            </ul>
            </div>
        </section>
        <section class="info-adicionais">
            <div>
                <h3>Informações adicionais</h3>
                <a class="lista-info-adicionais">Mostrar</a>
            </div>
            <div id="lista-info-adicionais">
                <p>
                    {{item.information}}
                </p>
            </div>            
        </section>
    </div>

{% endblock %}