<div class="fields">
    <div>
        <h4>Nome</h4>
        <input type="text" name="name" value="{{chef[0].chef_name}}">
    </div>
    <div>
        <h4>Avatar</h4>
        <input type="text" name="avatar_url" value="{{chef[0].chef_avatar}}">
    </div>    
</div>