{% extends '../layout.njk' %}

{% block content %}
    <div class="form-create">
        <h3>Chef:
            {{chef[0].chef_name}}</h3>
        <button type="submit">
            <a href="/admin/chefs/{{chef[0].chef_id}}/edit">Editar Chef</a>
        </button>
    </div>
    <div class="details-chef">
        <div class="chef-avatar">
            <img src="{{chef[0].chef_avatar}}" alt="{{chef[0].chef_avatar}}">
        </div>
        <div class="info-chef">
            <h1>{{chef[0].chef_name}}</h1>
            {% if chef[0].total_recipes < 2 %}
                <p>{{chef[0].total_recipes}}
                    receita</p>
            {% else %}
                <p>{{chef[0].total_recipes}}
                    receitas</p>
            {% endif %}
        </div>
    </div>

    <h2 class="txt-recipe-show">Receitas</h2>   

    {% if chef[0].total_recipes > 0 %}
    <div class="lista-receitas-admin">
        {% for c in chef %}
        <div class="receita-admin">
            <div>
                <img src="{{c.receipts_image}}" alt="">
            </div>
            <div class="info-receitas">
                <h4>{{c.receipts_title}}</h4>
                <p>{{c.chef_name}}</p>
                <a href="/admin/recipes/{{c.receipts_id}}">Visualizar</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <p>Sem nenhuma receita</p>
    {% endif %}

{% endblock %}